*[page-subtype="subscriptions"] {
  opacity: 0;
  transform: opacity 160ms;
}

ytd-menu-service-item-renderer[has-separator_]:last-of-type::after {
  display: none !important;
}

*[page-subtype="subscriptions"] ytd-item-section-renderer {
  min-height: 200px;
}
